.container {
    display: flex;

    .content {
        .box {
            margin-top: 20px;

            .textcontent {
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
