.containerLayout {
    .containerHeader {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;

        .search {
            min-width: 50px !important;
            width: 100%;
            max-width: 150px !important;
        }
    }

    .link {
        color: black;
    }

    .link:hover {
        color: teal;
    }
}
