.container {
    min-width: 250px;
    height: auto;
    overflow-x: hidden;
    top: 60px;

    li {
        padding-left: 10px;
        border-left: black 1px solid;
        list-style: none;

        a {
            color: black;
        }
    }
}

.activeLink {
    color: teal !important;
    font-weight: 600;
}

.activeLi {
    border-color: teal !important;
}
